.login-card {
	margin-top: 50px !important;
	width: 400px;
	display: flex;
	box-shadow: 0 8px 30px rgb(17 77 145 / 15%);
	margin: auto;
	justify-content: center;
}

.login-title {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 1.75rem;
	font-weight: 700;
	color: var(--darkGrey);
}

.brand-container {
	display: flex;
	flex-direction: column;
	margin: 30px 0 30px;
}

.brand-logo {
	width: 150px;
	margin: auto;
}

.brand-text {
	margin: auto;
	margin-top: 0.5rem;
	font-size: 1rem;
	color: var(--darkGrey);
	font-weight: 600;
}

.btn-login-submit {
	display: block;
	width: 100%;
	border-radius: 25px;
}

.form-item {
	margin-bottom: 8px;
}

.btn-google {
	border: none;
	background-color: #db4a39;
}

.btn-google:hover {
	background-color: red;
}
