@import "~antd/dist/antd.css";

:root {
	--first-color: #0d6efd;
	--first-color-light: #2e1f6d;
	--white-color: #f7f6fb;
	--lightGrey: #bbbbbb;
	--darkGrey: #9796a9;
	--body-font: "Nunito", sans-serif;
	--normal-font-size: 1rem;
}
